<li class="nav-item">
  <a class="nav-link text-white" aria-current="page">
    <fa-icon [icon]="faLanguage"></fa-icon>
    Administra en
    <img src="assets/images/flags/Flag_of_mexico.png" width="20px" alt="spanish" (click)="changeLenguage('es')" *ngIf="activeLang == 'en'" style="cursor: pointer;">
    <img src="assets/images/flags/Flag_of_United.svg" width="20px" alt="english" (click)="changeLenguage('en')" *ngIf="activeLang == 'es'" style="cursor: pointer;">
  </a>
</li>
