$primary-color: #384859
$primary-dark-color: #2d3a47
$primary-color-active: #536a7d
$primary-color-hover: #4dccff
$primary-color-link-active: #ffffff
$primary-color-link: #8e97a0

body
  font-size: .875rem

.feather
  width: 16px
  height: 16px
  vertical-align: text-bottom

/*
 * Sidebar

.sidebar
  background-color: $primary-color
  position: fixed
  color: $primary-color-link
  top: 0

  /* rtl:raw:
   *right: 0;
  bottom: 0

  /* rtl:remove
  left: 0
  z-index: 100

  /* Behind the navbar
  padding: 10px 0 0

  /* Height of navbar
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1)

@media (max-width: 767.98px)
  .sidebar
    top: 0.125rem

.sidebar-sticky
  position: relative
  top: 0
  height: calc(100vh - 48px)
  padding-top: .5rem
  overflow-x: hidden
  overflow-y: auto

/* Scrollable contents if viewport is shorter than content.

.sidebar .nav-link
  font-weight: 500
  color: $primary-color-link

  .feather
    margin-right: 4px
    color: $primary-color-link

  &.active
    color: $primary-color-link-active
    background-color: $primary-color-active

  &:hover
    color: $primary-color-link-active
    background-color: $primary-color-hover

.sidebar-heading
  font-size: .75rem
  text-transform: uppercase
