<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <a class="col-md-3 col-lg-2" [routerLink]="['dashboard']">
    <img src="assets/images/logo.png" class="img-fluid m-1" alt="Logo">
  </a>
  <div class="position-sticky pt-1">
    <ul class="nav flex-column">
      <app-translation (selectLang)="getLang($event)"></app-translation>
      <li class="nav-item pt-3">
        <a class="nav-link" aria-current="page" [routerLink]="['/admin/dashboard']" [routerLinkActive]="['active']">
          <fa-icon [icon]="faHome"></fa-icon>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['/admin/users']" [routerLinkActive]="['active']">
          <fa-icon [icon]="faUser"></fa-icon>
          Usuarios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['/admin/categories']" [routerLinkActive]="['active']">
          <fa-icon [icon]="faWarehouse"></fa-icon>
          Categorias
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['/admin/products']" [routerLinkActive]="['active']">
          <fa-icon [icon]="faStore"></fa-icon>
          Productos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/galleries']" [routerLinkActive]="['active']">
          <fa-icon [icon]="faImages"></fa-icon>
          Galerias
        </a>
      </li>
    </ul>
  </div>
</nav>
