<div class="container-fluid">
  <div class="row">
    <app-admin-sidebar (selectLangS)="getLang($event)"></app-admin-sidebar>
    <main class="col-md-9 col-lg-10 ms-sm-auto">
      <app-admin-navbar></app-admin-navbar>
      <div class="col-lg-12 px-md-5 bg-light mt-md-5">
        <div class="app-page-title">
          <ngx-spinner></ngx-spinner>
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon">
                <fa-icon [icon]="faWarehouse"></fa-icon>
              </div>
              <div>
                Categorias
                <div class="page-title-subheading">Agrega, Modifica, Elimina.</div>
              </div>

            </div>
            <div class="page-title-actions">
              <button type="button" (click)="plus()" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="row align-items-center" *ngIf="new">
          <div class="col-10">
            <input type="text" class="form-control" [(ngModel)]="name">
          </div>
          <div class="col-2 align-items-center justify-content-center">
            <a (click)="canceled()" class="text-danger mx-1" style="cursor: pointer;">
              <fa-icon [icon]="faBan"></fa-icon>
            </a>
            <a (click)="save()" class="text-success mx-1" style="cursor: pointer;">
              <fa-icon [icon]="faSave"></fa-icon>
            </a>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
            <div class="main-card mb-3 card">
              <div class="card-body"><h5 class="card-title">Tabla de Categorias</h5>
                <table class="mb-0 table table-hover mb-3">
                  <thead>
                  <tr>
                    <th>id</th>
<!--                    <th>Imagen</th>-->
                    <th>Nombre</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let category of categories | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
                    <th scope="row">
                      <img [src]="flag" width="20px" alt="lenaguage">
<!--                      {{i+1}}-->
                    </th>
<!--                    <td width="100px">-->
<!--                      <img width="100" height="100" [src]="images + category.image" class="img-fluid" [alt]="category.image"-->
<!--                           *ngIf="category.image">-->
<!--                      <img width="100" height="100" src="assets/images/missing.png" class="img-fluid" alt="Sin imagen"-->
<!--                           *ngIf="!category.image">-->
<!--                    </td>-->
                    <td>
                      <p *ngIf="idEdit != category.id">
                        <span *ngIf="category.nameTrans">{{category.nameTrans}}</span>
                        <span *ngIf="!category.nameTrans">Editar</span>
                      </p>
                      <div class="row align-items-center" *ngIf="idNew == category.id">
                        <div class="col-10">
                          <input type="text" class="form-control" [(ngModel)]="name">
                        </div>
                        <div class="col-2 align-items-center justify-content-center">
                          <a (click)="canceled()" class="text-danger mx-1" style="cursor: pointer;">
                            <fa-icon [icon]="faBan"></fa-icon>
                          </a>
                          <a (click)="saveSubPlus(category.id)" class="text-success mx-1" style="cursor: pointer;">
                            <fa-icon [icon]="faSave"></fa-icon>
                          </a>
                        </div>
                      </div>
                      <div class="row align-items-center" *ngIf="idEdit == category.id">
                        <div class="col-10">
                          <input type="text" class="form-control" [(ngModel)]="name">
                        </div>
                        <div class="col-2 align-items-center justify-content-center">
                          <a (click)="canceled()" class="text-danger mx-1" style="cursor: pointer;">
                            <fa-icon [icon]="faBan"></fa-icon>
                          </a>
                          <a (click)="update(category)" class="text-success mx-1" style="cursor: pointer;">
                            <fa-icon [icon]="faSave"></fa-icon>
                          </a>
                        </div>
                      </div>
                      <app-admin-sub-categories [parent_id]="category.id" [language]="language"></app-admin-sub-categories>
                    </td>
                    <td class="text-center">
                      <a (click)="subPlus(category)" class="text-success mx-1" style="cursor: pointer;">
                        <fa-icon [icon]="faPlus"></fa-icon>
                      </a>
                      <a (click)="edit(category)" class="text-primary mx-1" style="cursor: pointer;">
                        <fa-icon [icon]="faEdit"></fa-icon>
                      </a>
                      <a (click)="active(category)" class="text-success mx-1" style="cursor: pointer;" *ngIf="category.active">
                        <fa-icon [icon]="faPowerOff"></fa-icon>
                      </a>
                      <a (click)="active(category)" class="text-danger mx-1" style="cursor: pointer;" *ngIf="!category.active">
                        <fa-icon [icon]="faPowerOff"></fa-icon>
                      </a>
                      <a (click)="delete(category)" class="text-danger mx-1" style="cursor: pointer;">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row justify-content-center mt-1">
                  <div class="col-12 justify-content-center">
                    <pagination-controls (pageChange)="page = $event"
                                         maxSize="10"
                                         directionLinks="true"
                                         autoHide="true"
                                         responsive="true"
                                         previousLabel="Anterior"
                                         nextLabel="Siguiente"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-admin-footer></app-admin-footer>
    </main>
  </div>
</div>
