<body>
  <div class="container">
    <ngx-spinner></ngx-spinner>
    <div class="row align-items-center justify-content-center" >
      <div class="col-6">
        <div class="card">
          <div class="card-header bg-login d-flex justify-content-center">
            <img src="assets/images/logo.png" class="img-fluid w-50" alt="logo">
          </div>
          <div class="card-body p-5">
            <form (ngSubmit)="submit(forma)" #forma="ngForm">
              <div class="row py-3">
                <div class="form-group">
                  <input type="email" name="email" placeholder="Usuario" required class="form-control" ngModel>
                </div>
              </div>
              <div class="row py-3">
                <div class="form-group">
                  <input type="password" name="password" placeholder="Contraseña" required class="form-control" ngModel>
                </div>
              </div>
              <div class="row py-1">
                <div class="form-group">
                  <input type="checkbox" name="remember" class="mx-2">
                  <label for="remember"> Recordarme </label>
                </div>
              </div>
              <div class="row py-1">
                <div class="form-group">
                  <label for="remember">¿Olvidaste tu contraseña?</label>
                </div>
              </div>
              <div class="row py-4 justify-content-center">
                <button class="btn btn-login btn-lg" type="submit">Entrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
