$primary-color: #384859
$primary-dark-color: #2d3a47
$primary-color-active: #536a7d
$primary-color-hover: #4dccff
$primary-color-link-active: #ffffff
$primary-color-link: #8e97a0
$background-login: #2a2929

body
  height: 100% !important

body
  display: flex !important
  align-items: center !important
  padding-top: 10% !important
  padding-bottom: 10% !important
  background-color: $background-login !important

.bg-login
  background-color: $primary-color
  min-height: 6.25rem

.card-body
  min-height: 18.75rem !important

.btn-login
  color: $primary-color-link-active
  background-color: $primary-color-hover
  border-color: $primary-color-hover

.btn-login:hover
  color: $primary-color-link-active
  background-color: $primary-color-active
  border-color: $primary-color-active

