<div class="container-fluid">
  <div class="row" *ngFor="let categoryS of categoriesS; let i = index">
    <div class="col-12">
      <div class="row justify-content-between">
        <div class="col-8">
          <p *ngIf="idEdit != categoryS.id">
<!--            <span *ngIf="language == 'es'">-->
<!--              <img src="assets/images/flags/Flag_of_mexico.png" width="20px" alt="spanish">-->
<!--              {{categoryS.name.es}}-->
<!--            </span>-->
<!--            <span *ngIf="language == 'en'">-->
<!--              <img src="assets/images/flags/Flag_of_United.svg" width="20px" alt="english">-->
              {{categoryS.name | translate}}
<!--            </span>-->
          </p>
          <div class="row align-items-center" *ngIf="idEdit == categoryS.id">
            <div class="col-10">
              <input type="text" class="form-control" [(ngModel)]="name">
            </div>
            <div class="col-2 align-items-center justify-content-center">
              <a (click)="canceled()" class="text-danger mx-1" style="cursor: pointer;">
                <fa-icon [icon]="faBan"></fa-icon>
              </a>
              <a (click)="update(categoryS)" class="text-success mx-1" style="cursor: pointer;">
                <fa-icon [icon]="faSave"></fa-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <a (click)="subPlus(categoryS)" class="text-success mx-1" style="cursor: pointer;">
            <fa-icon [icon]="faPlus"></fa-icon>
          </a>
          <a (click)="edit(categoryS)" class="text-primary mx-1" style="cursor: pointer;">
            <fa-icon [icon]="faEdit"></fa-icon>
          </a>
          <a (click)="active(categoryS)" class="text-success mx-1" style="cursor: pointer;" *ngIf="categoryS.active">
            <fa-icon [icon]="faPowerOff"></fa-icon>
          </a>
          <a (click)="active(categoryS)" class="text-danger mx-1" style="cursor: pointer;" *ngIf="!categoryS.active">
            <fa-icon [icon]="faPowerOff"></fa-icon>
          </a>
          <a (click)="delete(categoryS)" class="text-danger mx-1" style="cursor: pointer;">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </a>
        </div>
      </div>
      <div class="row align-items-center" *ngIf="idNew == categoryS.id">
        <div class="col-10">
          <input type="text" class="form-control" [(ngModel)]="name">
        </div>
        <div class="col-2 align-items-center justify-content-center">
          <a (click)="canceled()" class="text-danger mx-1" style="cursor: pointer;">
            <fa-icon [icon]="faBan"></fa-icon>
          </a>
          <a (click)="saveSubPlus(categoryS.id)" class="text-success mx-1" style="cursor: pointer;">
            <fa-icon [icon]="faSave"></fa-icon>
          </a>
        </div>
      </div>
      <app-admin-sub-categories [parent_id]="categoryS.id" [language]="language"></app-admin-sub-categories>
    </div>
  </div>
</div>
