<div class="container-fluid">
  <div class="row">
    <app-admin-sidebar (selectLangS)="getLang($event)"></app-admin-sidebar>
    <main class="col-md-9 col-lg-10 ms-sm-auto">
      <app-admin-navbar></app-admin-navbar>
      <div class="col-lg-12 px-md-5 bg-light mt-md-5">
        <ngx-spinner></ngx-spinner>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom h-100">
          <h1 class="h2">Excess te da la Bienvenida</h1>
          <p>Esta es el tablero</p>
        </div>
        <app-admin-footer></app-admin-footer>
      </div>
    </main>
  </div>
</div>
