<router-outlet></router-outlet>
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <app-admin-sidebar (selectLangS)="getLang($event)"></app-admin-sidebar>-->
<!--    <main class="col-md-9 col-lg-10 ms-sm-auto">-->
<!--      <app-admin-navbar></app-admin-navbar>-->
<!--      <div class="col-lg-12 px-md-5 bg-light mt-md-5">-->
<!--        {{language}}-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--      <app-admin-footer></app-admin-footer>-->
<!--    </main>-->
<!--  </div>-->
<!--</div>-->


