/* You can add global styles to this file, and also import other style files */

$primary-color: #384859
$primary-dark-color: #2d3a47
$primary-color-hover: #536a7d

.card
  position: relative
  display: flex
  flex-direction: column
  min-width: 0
  word-wrap: break-word
  background-color: #fff
  background-clip: border-box
  border: 1px solid rgba(26, 54, 126, 0.125)
  border-radius: .25rem

  hr
    margin-right: 0
    margin-left: 0

    .list-group
      &:first-child .list-group-item:first-child
        border-top-left-radius: .25rem
        border-top-right-radius: .25rem

      &:last-child .list-group-item:last-child
        border-bottom-right-radius: .25rem
        border-bottom-left-radius: .25rem

.card-body
  flex: 1 1 auto
  padding: 1.25rem

.card-title
  margin-bottom: .75rem

.card-subtitle
  margin-top: -.375rem
  margin-bottom: 0

.card-text:last-child
  margin-bottom: 0

.card-link
  &:hover
    text-decoration: none

  + .card-link
    margin-left: 1.25rem

.card-header
  padding: .75rem 1.25rem
  margin-bottom: 0
  color: inherit
  background-color: #fff
  border-bottom: 1px solid rgba(26, 54, 126, 0.125)

  &:first-child
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0

  + .list-group .list-group-item:first-child
    border-top: 0

.card-footer
  padding: .75rem 1.25rem
  background-color: #fff
  border-top: 1px solid rgba(26, 54, 126, 0.125)

  &:last-child
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)

.card-header-tabs
  margin-right: -.625rem
  margin-bottom: -.75rem
  margin-left: -.625rem
  border-bottom: 0

.card-header-pills
  margin-right: -.625rem
  margin-left: -.625rem

.card-img-overlay
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 1.25rem

.card-img
  width: 100%
  border-radius: calc(.25rem - 1px)

.card-img-top
  width: 100%
  border-top-left-radius: calc(.25rem - 1px)
  border-top-right-radius: calc(.25rem - 1px)

.card-img-bottom
  width: 100%
  border-bottom-right-radius: calc(.25rem - 1px)
  border-bottom-left-radius: calc(.25rem - 1px)

.card-deck
  display: flex
  flex-direction: column

  .card
    margin-bottom: 15px

@media (min-width: 576px)
  .card-deck
    flex-flow: row wrap
    margin-right: -15px
    margin-left: -15px

    .card
      display: flex
      flex: 1 0 0%
      flex-direction: column
      margin-right: 15px
      margin-bottom: 0
      margin-left: 15px

.card-group
  display: flex
  flex-direction: column

  .card
    margin-bottom: 15px

@media (min-width: 576px)
  .card-group
    flex-flow: row wrap

    > .card
      flex: 1 0 0%
      margin-bottom: 0

      + .card
        margin-left: 0
        border-left: 0

      &:first-child
        border-top-right-radius: 0
        border-bottom-right-radius: 0

        .card-img-top, .card-header
          border-top-right-radius: 0

        .card-img-bottom, .card-footer
          border-bottom-right-radius: 0

      &:last-child
        border-top-left-radius: 0
        border-bottom-left-radius: 0

        .card-img-top, .card-header
          border-top-left-radius: 0

        .card-img-bottom, .card-footer
          border-bottom-left-radius: 0

      &:only-child
        border-radius: .25rem

        .card-img-top, .card-header
          border-top-left-radius: .25rem
          border-top-right-radius: .25rem

        .card-img-bottom, .card-footer
          border-bottom-right-radius: .25rem
          border-bottom-left-radius: .25rem

      &:not(:first-child):not(:last-child):not(:only-child)
        border-radius: 0

        .card-img-top, .card-img-bottom, .card-header, .card-footer
          border-radius: 0

.card-columns .card
  margin-bottom: .75rem

@media (min-width: 576px)
  .card-columns
    column-count: 3
    column-gap: 1.25rem
    orphans: 1
    widows: 1

    .card
      display: inline-block
      width: 100%

.accordion .card
  overflow: hidden

  &:not(:first-of-type)
    .card-header:first-child
      border-radius: 0

    &:not(:last-of-type)
      border-bottom: 0
      border-radius: 0

  &:first-of-type
    border-bottom: 0
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0

  &:last-of-type
    border-top-left-radius: 0
    border-top-right-radius: 0

  .card-header
    margin-bottom: -1px

.app-page-title
  padding: 30px
  margin: -30px -30px 30px
  position: relative

  + .body-tabs-layout
    margin-top: -30px !important

  .page-title-wrapper
    position: relative
    display: flex
    align-items: center

  .page-title-heading, .page-title-subheading
    margin: 0
    padding: 0

  .page-title-heading
    font-size: 1.25rem
    font-weight: 400
    display: flex
    align-content: center
    align-items: center

  .page-title-subheading
    padding: 3px 0 0
    font-size: .88rem
    opacity: .6

    .breadcrumb
      padding: 0
      margin: 3px 0 0
      background: transparent

  .page-title-actions
    margin-left: auto

    .breadcrumb
      margin: 0
      padding: 0
      background: transparent

  .page-title-icon
    font-size: 2rem
    display: flex
    align-items: center
    align-content: center
    text-align: center
    padding: .83333rem
    margin: 0 30px 0 0
    background: #fff
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03)
    border-radius: .25rem
    width: 60px
    height: 60px

    i
      margin: auto

    &.rounded-circle
      margin: 0 20px 0 0

  + .RRT__container
    margin-top: -23.07692px

  &.app-page-title-simple
    margin: 0
    background: none !important
    padding-left: 0
    padding-right: 0
    padding-top: 0

.page-title-icon-rounded .page-title-icon
  border-radius: 50px
