<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <fa-icon [icon]="faStore"></fa-icon>
      </div>
      <div>
        Productos
        <div class="page-title-subheading">Agrega, Modifica, Activa, Elimina.</div>
      </div>
    </div>
    <div class="page-title-actions">
      <button type="button" [routerLink]="['create']" data-toggle="tooltip" title="Agregar" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body"><h5 class="card-title">Tabla de Productos</h5>
        <table class="mb-0 table table-hover">
          <thead>
          <tr>
            <th>id</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th class="text-center">Acciones</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
